<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyin.boot.mgb.mapper.AssetsSettleDebtsMapper">
  <resultMap id="BaseResultMap" type="com.fuyin.boot.mgb.entity.AssetsSettleDebtsDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="implementation" jdbcType="VARCHAR" property="implementation" />
    <result column="result_preset" jdbcType="VARCHAR" property="resultPreset" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, implementation, result_preset, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assets_settle_debts
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from assets_settle_debts
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fuyin.boot.mgb.entity.AssetsSettleDebtsDO">
    insert into assets_settle_debts (id, implementation, result_preset, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{implementation,jdbcType=VARCHAR}, #{resultPreset,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fuyin.boot.mgb.entity.AssetsSettleDebtsDO">
    insert into assets_settle_debts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="implementation != null">
        implementation,
      </if>
      <if test="resultPreset != null">
        result_preset,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="implementation != null">
        #{implementation,jdbcType=VARCHAR},
      </if>
      <if test="resultPreset != null">
        #{resultPreset,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuyin.boot.mgb.entity.AssetsSettleDebtsDO">
    update assets_settle_debts
    <set>
      <if test="implementation != null">
        implementation = #{implementation,jdbcType=VARCHAR},
      </if>
      <if test="resultPreset != null">
        result_preset = #{resultPreset,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuyin.boot.mgb.entity.AssetsSettleDebtsDO">
    update assets_settle_debts
    set implementation = #{implementation,jdbcType=VARCHAR},
      result_preset = #{resultPreset,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>